

.main {
    margin: 0%;
    padding: 0%;

    min-height: 110vmin;
    width: 100%;
background-image: url('../../images/Home.png');
    background-repeat: no-repeat;
    background-origin: cover;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

}

.main_firstDiv {
    min-height: 10vmin;
    width: 85%;
    /* border: 1px solid red; */

}

.main_secondDiv {
    height: 20vmin;
    width: 70%;
    /* border: 1px solid rgb(31, 28, 28); */


}



.cloud1 {
    animation: cloud1 8s ease-in-out infinite;
}


.cloud3 {
    animation: cloud3 8s ease-in-out infinite;
    animation-delay: 2s;

}




.cloud4 {
    animation: cloud4 8s ease-in-out infinite;
    animation-delay: 3.5s;
}

.cloud5 {
    animation: cloud5 8s ease-in-out infinite;
    animation-delay: 5s;
}

.cloud6 {
    animation: cloud6 8s ease-in-out infinite;
    animation-delay: 3.5s;
}





.main_threeDiv {

    height: 50vmin;
    width: 57.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: textDiv 8s infinite ease-in-out;
 

}




.main_threeDiv_text {
    padding: 6px;
    color: white;
    height: 40vmin;
    width: 50%;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2.1vmin;
    /* border: 1px solid blue; */

}


.main_threeDiv_text_headline {
    font-size: 3.5vmin;
    color: #0D5DCD;
}

.main_threeDiv_text button {
    padding:9px;
    font-size: 2.1vmin;
     width: 40vmin;
    border-radius: 20px;
    border-color: transparent;
    color: #0D5DCD;
    outline: none;

    cursor: pointer;




}



.rocket {
    height: 100%;
    width: 50%;
    animation: rocket 8s ease-in-out infinite;
    /* margin-right: 200px; */




}

.tecnost {
    animation: tecnost 8s ease-in-out infinite;
    transform-style: preserve-3d;



}

.tacka {

    animation: tacka 8s ease-in-out infinite;
    transform-origin: center;


}



.mlaz {
    animation: mlaz 8s ease-in-out infinite;
    transform-origin: bottom;



}


.main_fourDiv {

    height: 35vmin;
    width: 100%;
    /* border: 1px solid rgb(163, 54, 54); */


}


@keyframes cloud1 {
    0% {
        transform: translateX(0px)rotate(0deg)
    }

    50% {
        transform: translateX(-20px)rotate(3deg)
    }

    100% {
        transform: translateX(0px)rotate(0deg)
    }

}

@keyframes cloud3 {
    0% {
        transform: translateX(0px)rotate(0deg)
    }

    50% {
        transform: translateX(-35px)rotate(0deg)
    }

    100% {
        transform: translateX(0px)rotate(0deg)
    }

}




@keyframes cloud4 {
    0% {
        transform: translateX(0px)rotate(0deg)
    }

    50% {
        transform: translateX(30px)rotate(-3deg)
    }

    100% {
        transform: translateX(0px)rotate(0deg)
    }

}

@keyframes cloud5 {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(40px)
    }

    100% {
        transform: translateX(0px)
    }

}


@keyframes cloud6 {
    0% {
        transform: translateX(0px)rotate(0deg)
    }

    50% {
        transform: translateX(-30px)rotate(1deg)
    }

    100% {
        transform: translateX(0px)rotate(0deg)
    }

}




@keyframes rocket {
    0% {
        transform: rotate(0deg)
    }

    40% {
        transform: rotate(-8deg)
    }

    80% {
        transform: rotate(8deg)
    }

    100% {
        transform: rotate(0deg)
    }
}


@keyframes textDiv {
    0% {
        transform: rotate(0deg)
    }

    40% {
        transform: rotate(2deg)
    }

    80% {
        transform: rotate(-2deg)
    }

    100% {
        transform: rotate(0deg)
    }
}



@keyframes tecnost {
    0% {
        transform: rotateX(0deg)
    }

    40% {
        transform: rotateX(-45deg)
    }

    80% {
        transform: rotateX(45deg)
    }

    100% {
        transform: rotateX(0deg)
    }
}

@keyframes tacka {
    0% {
        transform: rotateX(0deg)
    }

    40% {
        transform: rotateX(-45deg)
    }

    80% {
        transform: rotateX(40deg)
    }

    100% {
        transform: rotateX(0deg)
    }
}





@keyframes mlaz {
    0% {
        transform: rotate(0deg)
    }

    35% {
        transform: rotate(6deg)
    }

    70% {
        transform: rotate(-6deg)
    }

    100% {
        transform: rotate(0deg)
    }
}


@media only screen and (max-width: 1200px) {

    .main_threeDiv {
    
            height: 60vmin;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            animation: textDiv 8s infinite ease-in-out;
    
    
        }




}




@media only screen and (max-width: 992px) {


    .main_threeDiv {
    
            height: 60vmin;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            animation: textDiv 8s infinite ease-in-out;
           
    
        }


                .main_threeDiv_text {
                    padding: 6px;
                    color: white;
                    height: 40vmin;
                    width: 50%;
                    padding-right: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-size: 1.8vmin;
                   
        
                }
        
        
                .main_threeDiv_text_headline {
                    font-size: 2.6vmin;
                    color: #0D5DCD;
                }



                                .main_threeDiv_text button {
                                    padding: 9px;
                                    font-size: 2vmin;
                                    width: 30vmin;
                                    border-radius: 20px;
                                    border-color: transparent;
                                    color: #0D5DCD;
                                    outline: none;
                
                
                
                
                                }



}




@media only screen and (max-width: 768px) {


    .main {
            margin: 0%;
            padding: 0%;
    
            min-height: 100vmin;
            width: 100%;
            background-image: url('../../images/Home.png');
            background-repeat: no-repeat;
            background-origin: cover;
            background-size: 100% 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;
    
        }
    
        .main_firstDiv {
            min-height: 10vmin;
            width: 85%;
           
        }
    
        .main_secondDiv {
            height: 20vmin;
            width: 85%;

    
       
    
    
        }



                .main_threeDiv {
        
                    height: 60vmin;
                    width: 75%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    animation: textDiv 5s ease-in-out;
                    
        
                }
        
        
        
        
                .main_threeDiv_text {
                    padding: 6px;
                    color: white;
                    height: 45vmin;
                    width: 75%;
                    padding-right: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-size: 2.1vmin;
                        font-weight: bold;
                   
        
                }
        
        
                .main_threeDiv_text_headline {
                    font-size: 3.5vmin;
                    color: #0D5DCD;
                }
        
                .main_threeDiv_text button {
                    padding: 8px;
                    font-size: 2.2vmin;
                    width: 35vmin;
                    border-radius: 20px;
                    border-color: transparent;
                    color: #0D5DCD;
                    outline: none;
        
        
        
        
                }
        
        
        
                .rocket {
                    display: none;
                    height: 100%;
                    width: 50%;
                    animation: rocket 8s ease-in-out infinite;
                    /* border: 1px solid red; */
                }



}



@media only screen and (max-width: 600px) {

    .main {
            margin: 0%;
            padding: 0%;
    
            min-height: 75vmax;
            width: 100%;
            background-image: url('../../images/Home.png');
            background-repeat: no-repeat;
            background-origin: cover;
            background-size: 100% 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;
    
        }

    .main_threeDiv {
    
            height: 60vmin;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            animation: textDiv 5s ease-in-out;
        
    
        }



    .main_threeDiv_text {
            padding: 6px;
            color: white;
            height:45vmin;
            width: 80%;
            padding-right: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 2.7vmin;
            font-weight: bold;

            /* border: 1px solid red; */
        
    
        }
    
    
        .main_threeDiv_text_headline {
            font-size: 3.4vmin;
            color: #0D5DCD;
        }
    
        .main_threeDiv_text button {
            padding: 7px;
            font-size: 1.8vmin;
            width: 35vmin;
            border-radius: 20px;
            border-color: transparent;
            color: #0D5DCD;
            outline: none;
            font-weight: 500;
    
    
    
    
        }



}

  