.main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;


}



.coomentDiv{
    margin-top: 1em;
    max-width:55rem;
    padding:2em;


    overflow: hidden;
        display: flex;
    justify-content: space-around;
    align-items: center;

  /* border: 2px solid red; */

}



.coomentDiv div{
   color: var(--grey);
    font-size: 1rem;
      border-bottom-right-radius: 1em ;
        border-top-left-radius: 1em;
        min-height: 2.5rem;

        padding: 2em;
        min-width: 10rem;
        margin-left: 2em;
        box-shadow: 1px 1px 10px 1px var(--grey);

   animation: slider 25s ease infinite;       
      
}
.iconsColor{
    color: var(--orange);
}




.headline {
    color: var(--grey);
   padding: 2em;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
font-size: 1.3rem;

    /* border: 1px solid red; */

}



.firstDiv {
   
    min-width: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15px;
  

 /* border: 2px solid blue; */

} 


.firstDivOne {
    padding: 1em;
    width: 30%;
    border-radius: .8em;
    border: .2em solid var(--orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: var(--white); */

}

.firstDivOne div{
    padding: .4em;
}

.firstDivHeadline {
    color:var(--orange);
    font-size: 1.1rem;

}

.firstDivButton {
   padding: .8em;
    width:12rem;
    font-size: .9rem;
    background-color: #0D5DCD;
    border: transparent;
    color: white;
    animation: buttonRadius 5s infinite ease-in-out;
    cursor: pointer;
   
}

.firstDivText {
    width: 85%;
    font-size:1rem;
    /* border: 1px solid red; */

}

.firstDivTwo {

   padding: 1em;
    width: 30%;
    border-radius: .8em;
    border: .2em solid var(--orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.firstDivTwo div {
    padding: .4em;
}

.secondDiv {
   padding: 1em;
   min-width: 55rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    font-size: 1.1rem;
    color: var(--grey);
  
    /* border: 1px solid red; */

}




.prazanDiv {
    padding: 2em;
    width: 50%;
    /* border: 5px solid green; */
}








@keyframes slider {
    0% {
        transform: translateX(-125rem)
    }

    50% {
        transform: translateX(0rem)
    }

    100% {
        transform: translateX(125rem)
    }

}









@keyframes buttonRadius {
    0% {
        border-radius: 7px;
    }

    50% {
        border-radius: 30px;
        background-color: red;
    }

    100% {
        border-radius: 7px;
    }

}



@media (max-width:55rem) {
.coomentDiv {
        margin-top: 1em;
        max-width: 40rem;
        padding: 2em;


        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;

 

    }



    .coomentDiv div {
        color: var(--grey);
        font-size: .9rem;



        border-bottom-right-radius: 1em;
        border-top-left-radius: 1em;
        min-height: 2.5rem;

        padding: 2em;
        min-width: 10rem;
        margin-left: 2em;
        box-shadow: 1px 1px 10px 1px var(--grey);

        animation: slider 25s ease infinite;

    }

    .iconsColor {
        color: var(--orange);
    }




    .headline {
        color: var(--grey);
        padding: 2em;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.1rem;
    

    }



    .firstDiv {

        min-width: 40rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 15px;




    }


    .firstDivOne {
        padding: 1em;
        width: 35%;
        border-radius: .8em;
        border: .2em solid var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* background-color: var(--white); */

    }

    .firstDivOne div {
        padding: .4em;
    }

    .firstDivHeadline {
        color: var(--orange);
        font-size: 1rem;

    }

    .firstDivButton {
        padding: .8em;
        width: 12rem;
        font-size: .9rem;
        background-color: #0D5DCD;
        border: transparent;
        color: white;
        animation: buttonRadius 5s infinite ease-in-out;
        cursor: pointer;

    }

    .firstDivText {
        width: 85%;
        font-size: .9rem;
        /* border: 1px solid red; */

    }

    .firstDivTwo {

        padding: 1em;
        width: 35%;
        border-radius: .8em;
        border: .2em solid var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .firstDivTwo div {
        padding: .4em;
    }

    .secondDiv {
        padding: 1em;
        min-width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        font-size: 1rem;
        color: var(--grey);

        margin-bottom: 1em;

     

    }




    .prazanDiv {
        padding: 2em;
        width: 50%;
        /* border: 5px solid green; */
    }


}
















@media (max-width:40rem) {
    .coomentDiv {
        margin-top: 1em;
        max-width: 90%;
        padding: 1em;


        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;



    }



    .coomentDiv div {
        color: var(--grey);
        font-size: .9rem;



        border-bottom-right-radius: 1em;
        border-top-left-radius: 1em;
        min-height: 2.5rem;

        padding: 2em;
        min-width: 10rem;
        margin-left: 2em;
        box-shadow: 1px 1px 10px 1px var(--grey);

        animation: slider 25s ease infinite;

    }

    .iconsColor {
        color: var(--orange);
    }




    .headline {
        color: var(--grey);
        padding: 1em;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.1rem;
 

    }



    .firstDiv {

        min-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-right: 0px;



    }


    .firstDivOne {
        padding: 1em;
        width: 45%;
        border-radius: .8em;
        border: .2em solid var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        margin-bottom: 1em;
        /* background-color: var(--white); */

    }

    .firstDivOne div {
        padding: .4em;
    }

    .firstDivHeadline {
        color: var(--orange);
        font-size: 1rem;

    }

    .firstDivButton {
        padding: .8em;
        width: 10rem;
        font-size: .9rem;
        background-color: #0D5DCD;
        border: transparent;
        color: white;
        animation: buttonRadius 5s infinite ease-in-out;
        cursor: pointer;

    }

    .firstDivText {
        width: 85%;
        font-size: .9rem;
        /* border: 1px solid red; */

    }

    .firstDivTwo {

        padding: 1em;
        width: 45%;
        border-radius: .8em;
        border: .2em solid var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        margin-bottom: 1em;
    }

    .firstDivTwo div {
        padding: .4em;
    }

    .secondDiv {
        padding: 1em;
        max-width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        font-size: .9rem;
        color: var(--grey);

        margin-bottom: 1em;



    }




    .prazanDiv {
        padding: 2em;
        width: 70%;
        /* border: 5px solid green; */
    }


}









@media (max-width:500px) {
    .coomentDiv {
        margin-top: 1em;
        max-width: 90%;
        padding: .7em;


        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;



    }



    .coomentDiv div {
        color: var(--grey);
        font-size: .85rem;



        border-bottom-right-radius: 1em;
        border-top-left-radius: 1em;
        min-height: 2rem;

        padding: 2em;
        min-width: 10rem;
        margin-left: 2em;
        box-shadow: 1px 1px 10px 1px var(--grey);

        animation: slider 25s ease infinite;

    }

    .iconsColor {
        color: var(--orange);
    }




    .headline {
        color: var(--grey);
        padding: 1em;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;


    }



    .firstDiv {

        min-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-right: 0px;




    }


    .firstDivOne {
        padding: 1em;
        width: 60%;
        border-radius: .8em;
        border: .2em solid var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        margin-bottom: 1em;
        /* background-color: var(--white); */

    }

    .firstDivOne div {
        padding: .4em;
    }

    .firstDivHeadline {
        color: var(--orange);
        font-size: 1rem;

    }

    .firstDivButton {
        padding: .8em;
        width: 10rem;
        font-size: .9rem;
        background-color: #0D5DCD;
        border: transparent;
        color: white;
        animation: buttonRadius 5s infinite ease-in-out;
        cursor: pointer;

    }

    .firstDivText {
        width: 85%;
        font-size: .9rem;
        /* border: 1px solid red; */

    }

    .firstDivTwo {

        padding: 1em;
        width: 60%;
        border-radius: .8em;
        border: .2em solid var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        margin-bottom: 1em;
    }

    .firstDivTwo div {
        padding: .4em;
    }

    .secondDiv {
        padding: 1em;
        max-width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        text-align: right;
        font-size: .9rem;
        color: var(--grey);

        margin-bottom: 1em;



    }




    .prazanDiv {
        padding: 2em;
        width: 70%;
        /* border: 5px solid green; */
    }


}






















@media (max-width:389px) {
    .coomentDiv {
        margin-top: 1em;
        max-width: 90%;
        padding: .7em;


        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;



    }



    .coomentDiv div {
        color: var(--grey);
        font-size: .85rem;



        border-bottom-right-radius: 1em;
        border-top-left-radius: 1em;
        min-height: 2rem;

        padding: 2em;
        min-width: 10rem;
        margin-left: 2em;
        box-shadow: 1px 1px 10px 1px var(--grey);

        animation: slider 25s ease infinite;

    }

    .iconsColor {
        color: var(--orange);
    }




    .headline {
        color: var(--grey);
        padding: 1em;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;


    }



    .firstDiv {

        min-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-right: 0px;




    }


    .firstDivOne {
        padding: 1em;
        width: 65%;
        border-radius: .8em;
        border: .2em solid var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        margin-bottom: 1em;
        /* background-color: var(--white); */

    }

    .firstDivOne div {
        padding: .4em;
    }

    .firstDivHeadline {
        color: var(--orange);
        font-size: 1rem;

    }

    .firstDivButton {
        padding: .8em;
        width: 10rem;
        font-size: .9rem;
        background-color: #0D5DCD;
        border: transparent;
        color: white;
        animation: buttonRadius 5s infinite ease-in-out;
        cursor: pointer;

    }

    .firstDivText {
        width: 85%;
        font-size: .9rem;
        /* border: 1px solid red; */

    }

    .firstDivTwo {

        padding: 1em;
        width: 65%;
        border-radius: .8em;
        border: .2em solid var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        margin-bottom: 1em;
    }

    .firstDivTwo div {
        padding: .4em;
    }

    .secondDiv {
        padding: 1em;
        max-width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        text-align: right;
        font-size: .9rem;
        color: var(--grey);

        margin-bottom: 1em;



    }




    .prazanDiv {
        padding: 2em;
        width: 70%;
        /* border: 5px solid green; */
    }


}