.main {
    min-height: 100vmin;
    width: 100%;
    background-image: url('../../images/Pricing.png');
    background-repeat: no-repeat;
    background-origin: cover;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    /* border: 1px solid red; */

}



.headline {
    min-height: 10vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
font-size: 3.1vmin;
    color: #0D5DCD;
    /* border: 1px solid red; */
}



.firstDiv {
    min-height: 55vmin;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15px;

    /* border: 1px solid red; */
}


.firstDivOne {
    min-height: 42vmin;
    width: 35%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.firstDivHeadline {
    color: #0D5DCD;
    font-size: 2.6vmin;

}

.firstDivButton {
   padding: 10px;
    width: 20vmin;
    font-size: 1.5vmin;
    background-color: #0D5DCD;
    border: transparent;
    color: white;
    animation: buttonRadius 5s infinite ease-in-out;
    cursor: pointer;
   
}

.firstDivText {
    width: 85%;
    font-size: 2.1vmin;
    /* border: 1px solid red; */

}

.firstDivTwo {
    min-height: 42vmin;
    width: 35%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.secondDiv {
    min-height: 20vmin;
    width: 93%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    font-size: 2.2vmin;
    color: white;
    /* border: 1px solid red; */
}




.prazanDiv {
    height: 10vmin;
    width: 100%;
    /* border: 5px solid green; */
}




@keyframes buttonRadius {
    0% {
        border-radius: 7px;
    }

    50% {
        border-radius: 30px;
        background-color: red;
    }

    100% {
        border-radius: 7px;
    }

}



@media only screen and (max-width:1200px) {


    .firstDiv {
            min-height: 55vmin;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-right: 15px;
    
           /* border: 1px solid blue; */
        }
    
    
        .firstDivOne {
            min-height: 42vmin;
            width: 40%;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
    
        }
    
        .firstDivHeadline {
            color: #0D5DCD;
            font-size: 2.6vmin;
    
        }
    
        .firstDivButton {
            padding: 10px;
            width: 20vmin;
            font-size: 1.5vmin;
            background-color: #0D5DCD;
            border: transparent;
            color: white;
            animation: buttonRadius 5s infinite ease-in-out;
        }
    
        .firstDivText {
            width: 85%;
            font-size: 2.1vmin;
            /* border: 1px solid red; */
    
        }
    
        .firstDivTwo {
            min-height: 42vmin;
            width: 40%;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    
        .secondDiv {
            min-height: 20vmin;
            width: 93%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 15px;
            font-size: 2.2vmin;
            color: white;
            /* border: 1px solid red; */
        }

}





@media only screen and (max-width:992px) {

    .headline {
            min-height: 10vmin;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 2.9vmin;
            color: #0D5DCD;
            /* border: 1px solid red; */
        }


    .firstDiv {
        min-height: 55vmin;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 15px;


    }


    .firstDivOne {
        min-height: 42vmin;
        width: 34%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .firstDivHeadline {
        color: #0D5DCD;
        font-size: 2.6vmin;

    }

    .firstDivButton {
        padding: 10px;
        width: 20vmin;
        font-size: 1.5vmin;
        background-color: #0D5DCD;
        border: transparent;
        color: white;
        animation: buttonRadius 5s infinite ease-in-out;
    }

    .firstDivText {
        width: 85%;
        font-size: 2.1vmin;
        /* border: 1px solid red; */

    }

    .firstDivTwo {
        min-height: 42vmin;
        width: 34%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .secondDiv {
        min-height: 20vmin;
        width: 93%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        font-size: 2.2vmin;
        color: white;
        /* border: 1px solid red; */
    }

}




@media only screen and (max-width:768px) {

    .main {
            min-height: 140vmin;
            width: 100%;
            background-image: url('../../images/Pricing.png');
            background-repeat: no-repeat;
            background-origin: cover;
            background-size: 100% 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;
            /* border: 1px solid red; */
    
        }

    .headline {
        min-height: 10vmin;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 2.9vmin;
        color: #0D5DCD;
        /* border: 1px solid red; */
    }


    .firstDiv {
        min-height: 90vmin;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 15px;


    }


    .firstDivOne {
        min-height: 42vmin;
        width: 50%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .firstDivHeadline {
        color: #0D5DCD;
        font-size: 2.6vmin;

    }

    .firstDivButton {
        padding: 10px;
        width: 30vmin;
        font-size: 1.7vmin;
        background-color: #0D5DCD;
        border: transparent;
        color: white;
        animation: buttonRadius 5s infinite ease-in-out;
    }

    .firstDivText {
        width: 85%;
        font-size: 2.3vmin;
        /* border: 1px solid red; */

    }

    .firstDivTwo {
        min-height: 42vmin;
        width: 50%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .secondDiv {
        min-height: 20vmin;
        width: 93%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        font-size: 2.2vmin;
        color: white;
        /* border: 1px solid red; */
    }

}






@media only screen and (max-width:600px) {

    .main {
        min-height: 155vmin;
        width: 100%;
        background-image: url('../../images/Pricing.png');
        background-repeat: no-repeat;
        background-origin: cover;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        /* border: 1px solid red; */

    }

    .headline {
        min-height: 10vmin;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 3.1vmin;
        color: #0D5DCD;
        /* border: 1px solid red; */
    }


    .firstDiv {
        min-height: 105vmin;
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 15px;


    }


    .firstDivOne {
        min-height: 50vmin;
        width: 60%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .firstDivHeadline {
        color: #0D5DCD;
        font-size: 2.8vmin;

    }

    .firstDivButton {
        padding: 7px;
        width: 25vmin;
        font-size: 2vmin;
        background-color: #0D5DCD;
        border: transparent;
        color: white;
        animation: buttonRadius 5s infinite ease-in-out;
    }

    .firstDivText {
        width: 85%;
        font-size: 2.8vmin;
        /* border: 1px solid red; */

    }

    .firstDivTwo {
        min-height: 50vmin;
        width: 60%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .secondDiv {
        min-height: 20vmin;
        width: 93%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        font-size: 2.7vmin;
        color: white;
        /* border: 1px solid red; */
    }

}


