.main {
    
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: var(--orange);
    z-index: 10;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1em;
    border-bottom: .1em solid white;

    font-weight: 500;



}

.logo {
    min-width: 15%;
    padding-left: 30px;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    color: white;

    /* border: 2px solid red; */


}



.navItems {
   min-width: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    align-self: center;


   
 
    /* border: 1px solid palevioletred; */

}

.navItems a{
    text-decoration: none;
    color: white;
    font-size: .9rem;
  
}

.navItems button{
    cursor: pointer;
    width: 7rem;
    padding: .75em;
    border: none;
    background-color: white;
    border-radius: .2em;
}


.navItems a:hover{
    transition: 750ms;
    transform: scale(.96);
    color:var(--blue);
}








.main768 {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #0D5DCD;
    z-index: 10;
    color: white;
    display: none;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  
}

.bar {

    display: none;
}



@media (max-width:1150px){

.logo {


       display: none;


    }

}








@media (max-width:55rem) {
.navItems {
        min-width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        align-self: center;


    }




}


@media (max-width:768px) {
.main {
   display: none;

    }


  .main768 {
      position: fixed;
      top: 0%;
      left: 0%;
      height: 100vh;
      width: 100%;
      background-color: var(--orange);
      z-index: 10;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

  }

.main768 a{
    padding: 1em;
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
}

 .bar {
    position: fixed;
    top: 3%;
    right: 3%;
    z-index: 20;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; 
    font-size: 1.3rem;
   
 }


}
    
