.main {

   
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;



}


.headline {

    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    padding: 2em;
    /* border: 1px solid red; */

}


.headline div:nth-child(1){
    color: var(--grey);
    padding-top: 3em;
    font-size: 1.3rem;
}

.headline div:nth-child(2) {
    color: var(--grey);
    font-size: .95rem;
/*  */
}
.headline div:nth-child(3) {
    color: var(--grey);
    font-size: .95rem;
}

.headline div{
    padding: .5em;
}



.secondDiv {


    min-width: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin-bottom:1em ;


    /* border: 1px solid red; */

}







.secondDivItem1 {
    width:28%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: var(--orange);
        color: white;
    justify-content: space-around;
    font-size: .9rem;
    box-shadow: 1px 1px 10px 1px var(--grey);
    border-radius: .3em;
  
   

    
}
.secondDivItem1 div{
    padding: .6em;
}

.secondDivItem1:hover{
    background-color: white;
    color: black;
}




.secondDivItem2 {
    width: 28%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .9rem;
  box-shadow: 1px 1px 10px 1px var(--grey);
  border-radius: .3em;



}





.secondDivItem1:hover {
    background-color: var(--blue);
    color: white;
}

.secondDivItem2:hover {
    background-color: var(--blue);
    color: white;
}



.secondDivItem2 div {
    padding: .6em;
}



.icons {
    font-size: 1.3rem;
    color: var(--grey);
}


.secondDivItemsWhiteHeadline {
    /* color: red; */
    font-size: 1rem;

}


.prazanDiv2 {
   padding: 2em;
    width: 80%;
    /* border: 1px solid red; */


}



@keyframes blueBox {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(360deg);
    }

    50% {
        border-radius: 50%
    }

    100% {
        transform: rotate(-360deg)
    }

}




@media (max-width: 55rem) {


    .secondDiv {
    
    
            min-width: 40rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            padding: 1em;
            margin-bottom: 1em;
    
    

    
        }
    
    
    
    
    
    
    
        .secondDivItem1 {
            width: 45%;
            padding: 1em;
            display: flex;
            flex-direction: column;
            background-color: var(--orange);
            color: white;
            justify-content: space-around;
            font-size: .9rem;
            box-shadow: 1px 1px 10px 1px var(--grey);
            border-radius: .3em;
    margin-bottom: 1em;
    
    
    
        }

                .secondDivItem2 {
                    width: 45%;
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-size: .9rem;
                    box-shadow: 1px 1px 10px 1px var(--grey);
                    border-radius: .3em;
        
        margin-bottom: 1em;
        
                }


}




























@media (max-width: 41rem) {

    .headline {

        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        color: black;
        padding: 1em;
        /* border: 1px solid red; */

    }


    .headline div:nth-child(1) {
        color: var(--grey);
        padding-top: 3em;
        font-size: 1.2rem;
    }

    .headline div:nth-child(2) {
        color: var(--grey);
        font-size: .9rem;
        /*  */
    }

    .headline div:nth-child(3) {
        color: var(--grey);
        font-size: .9rem;
    }


    .secondDiv {


        min-width: 85%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding: 1em;
        margin-bottom: 1em;


/* border: 2px solid red; */

    }







    .secondDivItem1 {
        width: 70%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        background-color: var(--orange);
        color: white;
        justify-content: space-around;
        font-size: .9rem;
        box-shadow: 1px 1px 10px 1px var(--grey);
        border-radius: .3em;
margin-bottom: 1em;   margin-bottom: 1em;



    }

.secondDivItem1 div {
    padding: .7em;
}
    .secondDivItem2 {
        width: 70%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: .9rem;
        box-shadow: 1px 1px 10px 1px var(--grey);
        border-radius: .3em;

   margin-bottom: 1em;

    }
.secondDivItem2 div {
    padding: .7em;
}


.prazanDiv2 {
    padding: 1em;
    width: 80%;
    /* border: 1px solid red; */


}

}





















@media (max-width: 500px) {

    .headline {

        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        color: black;
        padding: 1em;
        /* border: 1px solid red; */


    }


    .headline div:nth-child(1) {
        color: var(--grey);
        padding-top: 3em;
        font-size: 1.1rem;
      
    }

    .headline div:nth-child(2) {
        color: var(--grey);
        font-size: .9rem;
        /* border: 2px solid red; */

    }

    .headline div:nth-child(3) {
        color: var(--grey);
        font-size: .9rem;
        /* border: 2px solid red; */

    }


    .secondDiv {


        min-width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding:1em;
        margin-bottom: 1em;




    }







    .secondDivItem1 {
        width: 85%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        background-color: var(--orange);
        color: white;
        justify-content: space-around;
        font-size: .9rem;
        box-shadow: 1px 1px 10px 1px var(--grey);
        border-radius: .3em;
        margin-bottom: 1em;
        margin-bottom: 1em;



    }

    .secondDivItem2 {
        width: 85%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: .9rem;
        box-shadow: 1px 1px 10px 1px var(--grey);
        border-radius: .3em;

        margin-bottom: 1em;

    }


}