

.main {

    width: 100%;
  color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

box-shadow: 1px 1px 10px 1px var(--grey);
    

}



.empty {
    padding: 1.5em;
    width: 80%;
    /* border: 1px solid red; */

}

.firstDiv {
    /* min-height: 40vh; */
    min-width: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


    /* border: 1px solid red; */

}

.firstDiv_first_row {

    width: 27%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .9rem;


    /* border: 1px solid wheat; */


}

.firstDiv_first_row div {
    padding: .5em;


}

.firstDiv_first_row div:hover {
    color: var(--fire);
}

.firstDiv_first_row_icons_hw {

    min-width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    /* border: 1px solid greenyellow; */


}

.firstDiv_first_row_icons {

    width: 60%;
    color: var(--white);
    font-size: 3rem;
    /* border: 1px solid red;  */

}



.firstDiv_first_row_headline {
    width: 70%;
   


    font-size: 1.2rem;
    border-bottom: .15em solid var(--orange);
    /* border: 1px solid red; */
}


.firstDiv_first_row_icons a {
    color: white;
    text-decoration: none;

}

.firstDiv_first_row_icons a:hover {
    color: white;
}









@media (max-width:992px) {


}




