body {
font-family: 'Kdam Thmor Pro', sans-serif;
    scroll-behavior: smooth;
    padding: 0%;

    margin: 0%;
    box-sizing: border-box;
}


/* ::-webkit-scrollbar {
    width: 6px;
} */

/* Track */
::-webkit-scrollbar-track {
    background: whitesmoke;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: red;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

} */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: blue;
    transition: 1000ms;
}